.education-content {
    padding: 40px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    cursor: default;
    font-family: "Poppins", sans-serif;
}


.education-content h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
    color: #7ea38f;
    font-family: "Poppins", sans-serif;
    transform: translateY(-50px);
    opacity: 0;
}

@keyframes slideDown {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.education-grid {
    width: 35%;
    padding: 50px;
    color: white;
    border-radius: 25px;
    margin: 40px auto;
    text-align: center;
    background: linear-gradient(135deg, #7ea38f, #9ccbb1);
    opacity: 0;

}
.education-line {
    width: 0;
    height: 5px;
    margin: 20px auto 0;
    border-radius: 10px;
    background: linear-gradient(90deg, #86b499, #c0e0c6);
    opacity: 0;

}
.education-content h1,
.education-grid {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1s ease-out;
}
.education-content h1.visible,
.education-grid.visible {
    opacity: 1;
    transform: translateY(0);
}

.education-line.visible {
    width: 250px;
    opacity: 1;
}

.education-grid:hover {
    background: linear-gradient(135deg, #9ccbb1, #7ea38f);
    box-shadow: 0 0 25px #7ea38f;
    transform: translateY(-8px) scale(1.02);
    font-size: 1rem;
    cursor: pointer;
}
@media (max-width: 1024px) {
    .education-content h1 {
        font-size: 2.5rem;
    }

    .education-grid {
        width: 60%;
        padding: 40px;
    }
}

@media (max-width: 768px) {
    .education-content {
        padding: 30px 20px;
    }

    .education-content h1 {
        font-size: 2rem;
    }

    .education-grid {
        width: 80%;
        padding: 30px;
    }
}

@media (max-width: 480px) {
    .education-content h1 {
        font-size: 1.7rem;
    }

    .education-grid {
        width: 90%;
        padding: 25px;
        font-size: 0.9rem;
    }
}