.projet-content {
    width: auto;
    height: 850px;
    margin-top: 70px;
    background-color:#86b499;
    
    font-family: "Poppins", sans-serif;
}

.projet-content h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 0;
    color: white;
    padding: 50px;
}

@media (max-width: 1200px) {
.projet-content h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0;
    color: white;
    padding: 50px;

}
}

@media (max-width: 800px) {
.projet-content h1{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 0;
    color: white;
    padding: 50px;
    text-align: center;
}
}