.skills-content {
    padding: 40px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    cursor: default;
    font-family: "Poppins", sans-serif;
    background-color: #7ea38f;
}

.skills-content h1 {
    font-size: clamp(1.8rem, 4vw, 3rem); 
    font-weight: 900;
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateY(-50px);
    transition: all 1.5s ease-out;
}

.skills-content h1.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-skills {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px 0 150px 0;
}

.section-skills > div {
    position: relative;
    background-color: white;
    color:#7ea38f;
    border-radius: 12px;
    text-align: center;
    width: auto;
    flex: 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    transform: translateY(30px);
    opacity: 0;
    height: auto;
    padding: 0;
    transition: height 1s ease-out, opacity 1s ease-out, padding 1s ease-out;
}

.section-skills > div h2 {
    margin: 0 0 15px 0;
    font-size: clamp(1.2rem, 3vw, 1.6rem);
    font-weight: 800;
    color: #7ea38f;
}

.section-skills > div.visible {
    min-height: 400px; 
    opacity: 1;
    padding: 20px;
}

.section-skills > div:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px #fff;
    transition: 0.4s ease;
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.skill-box {
    background-color: #7ea38f;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.skill-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #7ea38f;

}

.skill-box img {
    width: clamp(40px, 6vw, 70px); 
    height: clamp(40px, 6vw, 70px);
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .section-skills > div.visible {
        min-height: 380px; 
    }
}



@media (max-width: 800px) {
    .skills-content h1 {
    font-size: 2rem;
    font-weight: 900;
}
.skill-box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
    
}
.skills-content {
    margin-bottom: -45%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

}

@media (max-width: 1200px) {
    .skills-content h1 {
    font-size: 2.5rem;
    font-weight: 900;
}
.skill-box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    cursor: pointer;
}
.section-skills>div.visible {
    height: 415px;
    opacity: 1;
    padding: 20px;

}

.skills-content {
    margin-bottom: -20%;
}
}