
.skills-content {
    padding: 60px 20px;
    width: 100%;
    text-align: center;
    cursor: default;
    font-family: "Poppins", sans-serif;
    background-color: #7ea38f;
}

.skills-content h1 {
    font-size: clamp(2rem, 4vw, 3.2rem);
    font-weight: 900;
    color: white;
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 1.2s ease, transform 2s ease;
}

.skills-content h1.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-width: 1600px;
    margin: 60px auto 120px;
    padding: 0 20px;
}

@media (max-width: 1150px) {
    .section-skills {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .section-skills {
        grid-template-columns: 1fr;
    }
}

.section-skills > div {
    background-color: white;
    color: #7ea38f;
    border-radius: 16px;
    text-align: center;

    min-height: 380px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    opacity: 0;
    transform: translateY(35px);
    transition:
        opacity 1s ease-out,
        transform 1s ease-out,
        padding 0.8s ease-out;
}

.section-skills > div.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-skills > div:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.section-skills > div h2 {
    margin: 0 0 15px 0;
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    font-weight: 800;
    color: #7ea38f;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 20px;
    width: 100%;
    justify-items: center;
    margin-top: 20px;
}

.skill-box {
    background-color: #7ea38f;
    border-radius: 12px;
    padding: clamp(10px, 2vw, 16px);

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}


.skill-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #7ea38f;
}

.skill-box img {
    width: clamp(40px, 5vw, 70px);
    height: clamp(40px, 5vw, 70px);
    object-fit: contain;
    pointer-events: none;
}
